/* --------------------------------------| variabel |--------------------------------- */
:root{
    --color-website: #364C4F;
    --color-btn: #cedfc3 ;
    --color-text: #fafafa;
    --color-link: #202020;
    --font-h1: 55px;
    --font-h2: 45px;
    --font-h3: 35px;
    --font-p: 15px;
    --font-p-improtant: 19px;
    /* for hamburger menu */
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap:8px;
    --hamburger-margin: 9px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* --------------------------------------| Tags |--------------------------------- */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-website);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* --------------------------------------| Fonts |--------------------------------- */
.DM-Sans-Bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}
.Open-Sauce-Bolder {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.Open-Sauce-Regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* --------------------------------------| Loyout |--------------------------------- */
header{
    padding: 25px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header > .logo{
    width: 70px;
    height: 70px;
    position: relative;
}
header > .logo > pre{
    font-size: var(--font-p-improtant);
    color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0 , -50%);
}
header > .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > .menu > .hamburger-menu{
    display: none;
    align-self: flex-end;
}
header > .menu > .links{
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header > .menu > .links li a{
    padding: 0 10px;
    font-size: var(--font-p);
    color: var(--color-text);
}
header > section.hero{
    padding-top: 60px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header > section.hero > div.right{
    width: 380px;
    color: var(--color-btn);
    font-size: var(--font-p);
    justify-self: flex-start;
}
header > section.hero > div.right > h1{
    padding: 20px 0;
    font-size: var(--font-h1);
    color: var(--color-text);
}
header > section.hero > div.right > h1 > span{
    color: var(--color-btn);
}
header > section.hero > div.right > p{
    padding-bottom: 40px ;
}
header > section.hero > div.right > a{
    padding: 10px  25px;
    color: var(--color-link);
    background-color: var(--color-btn);
    font-size: var(--font-p);
    border-radius: 25px;
    transition: var(--animation-timing);
}
header > section.hero > div.right > a:hover{
    color: var(--color-btn);
    background-color: var(--color-website);
    border: 2px solid var(--color-btn);
}
header > section.hero > div.left{
    padding: 0 30px;
    width: 500px;
    justify-self: flex-end;
}

/* --------------------------------------| Responsive 0px to 393px for iphone 14 & 15 Pro|--------------------------------- */
@media (min-width: 0px) and (max-width: 393px) {
    header > .logo{
        width: 50px;
        height: 50px;
        position: relative;
    }
    header > .menu > .hamburger-menu{
        display: block;
        align-self: flex-end;
        --x-width:calc(var(--hamburger-height)* 1.12);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        z-index: 2;
        cursor: pointer;
    }
    header > .menu > .hamburger-menu:has(input:focus-visible)::after,
    header > .menu > .hamburger-menu:has(input:focus-visible)::before,
    header > .menu > .hamburger-menu input:focus-visible{
        border: 1px solid var(--background);
        box-shadow: 0 0 1px var(--foreground);
    }
    header > .menu > .hamburger-menu::after,
    header > .menu > .hamburger-menu::before,
    header > .menu > .hamburger-menu input{
        content: '';
        width: 30px;
        height: 4px;
        background-color: var(--color-btn);
        transition: opacity var(--animation-timing) , width var(--animation-timing) , transform var(--animation-timing);
        transform-origin: left center;
    }
    header > .menu > .hamburger-menu:has(input:checked)::before{
        transform:translate(0 , calc(var(--bar-height) / -2)) rotate(45deg);
        width: var(--x-width);
    }
    header > .menu > .hamburger-menu:has(input:checked)::after{
        transform:translate(0 , calc(var(--bar-height) / -2)) rotate(-45deg);
        width: var(--x-width);  
    }
    header > .menu > .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }
    header > .menu > .hamburger-menu input{
        appearance: none;
        border: none;
        pointer-events: none;
    }
    header > section.hero{
        padding-top: 60px;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    header > section.hero > div.right{
        width: 100%;
        text-align: center;
        color: var(--color-btn);
        font-size: var(--font-p);
        justify-self: center;
    }
    header > section.hero > div.right > h1{
        font-size: var(--font-h3);
    }
    header > section.hero > div.left{
        padding: 40px 30px;
        width: 350px;
        justify-self: center;
    }
}
/* --------------------------------------| Responsive 393px to 744px for ipad mini 8.3|--------------------------------- */
@media (min-width: 393px) and (max-width: 744px) {
    header > .menu > .hamburger-menu{
        display: block;
        align-self: flex-end;
        --x-width:calc(var(--hamburger-height)* 1.12);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        z-index: 2;
        cursor: pointer;
    }
    header > .menu > .hamburger-menu:has(input:focus-visible)::after,
    header > .menu > .hamburger-menu:has(input:focus-visible)::before,
    header > .menu > .hamburger-menu input:focus-visible{
        border: 1px solid var(--background);
        box-shadow: 0 0 1px var(--foreground);
    }
    header > .menu > .hamburger-menu::after,
    header > .menu > .hamburger-menu::before,
    header > .menu > .hamburger-menu input{
        content: '';
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--color-btn);
        transition: opacity var(--animation-timing) , width var(--animation-timing) , transform var(--animation-timing);
        transform-origin: left center;
    }
    header > .menu > .hamburger-menu:has(input:checked)::before{
        transform:translate(0 , calc(var(--bar-height) / -2)) rotate(45deg);
        width: var(--x-width);
    }
    header > .menu > .hamburger-menu:has(input:checked)::after{
        transform:translate(0 , calc(var(--bar-height) / -2)) rotate(-45deg);
        width: var(--x-width);  
    }
    header > .menu > .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }
    header > .menu > .hamburger-menu input{
        appearance: none;
        border: none;
        pointer-events: none;
    }
    header > .menu .links{
        padding: 100px 0;
        display: none;
        direction: rtl;
        justify-content: flex-end;
        background-color: var(--color-link);
        padding:230px 0;
        width:max-content;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(0);
        transition: var(--animation-timing);
    }
    header > .menu .links li{
        padding: 40px 40px;
    }
    header > .menu > .hamburger-menu:has(input:checked) ~ .links{
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-100%);
    }
    header > section.hero{
        padding-top: 60px;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    header > section.hero > div.right{
        width: 100%;
        text-align: center;
        color: var(--color-btn);
        font-size: var(--font-p);
        justify-self: center;
    }
    header > section.hero > div.right > h1{
        font-size: var(--font-h2);
    }
    header > section.hero > div.left{
        padding: 40px 30px;
        width: 500px;
        justify-self: center;
    }
}
/* --------------------------------------| Responsive 744px to 1728px for mackbook pro 16|--------------------------------- */
